.rowList {
    overflow: hidden;
    padding: 10px;
    width: 100%;
    li {
        float: left;
        width: 30%;
        margin-right: 7px;
        margin-bottom: 10px;
        img {
            width: 58px;
            height: 58px;
            display: block;
            margin: 0 auto;
        }
        span {
            display: block;
            text-align: center;
        }
    }
}